header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
    a {
        font-size: 20px;
        color: #000000;
        text-decoration: none;

        &:hover {
            color: #2b0909;
        }
    }
}