.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;

    h1 {
        text-transform: uppercase;
    }

    svg {
        transform: rotate(90deg);
    }

    &-list {
        max-width: 1400px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    &-item {
        padding: 15px;

        img {
            object-fit: contain;
        }

        h2 {
            color: #000000;
            text-transform: uppercase;
            font-size: 20px;
        }
        
        p {
            color: #1677ff;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &-desc {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}